# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Models & data
models/
data/raw/
data/processed/
*.joblib
*.pkl

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/
